body {
	width: 100%;
	height: 100%;
	padding: 10px;
	gap: 10px;
}

h1 {
	font-size: 3em;
	--wdth: 25;
	--wght: 900;
}

#graph {
	flex: 1 1 100%;
	border-width: 1px;
	border-style: solid;
	border-color: red;
	border-radius: 5px;
}
#graph svg {
	width: 100%;
	height: 100%;
}
